<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<nav class="navbar bg-dark border-body sticky-top" data-bs-theme="dark">
  <div class="d-flex align-items-center gap-4">
    <h4 class="text-light m-0 p-2">Popcorn Picks 🍿</h4>
    <div class="d-flex gap-3 ">
    <p><%= link_to "Create list", new_list_path%></p>
    <p><%= link_to "My Lists", lists_path%></p>
  </div>
  </div>
</nav>

    <%= yield %>
  </body>
</html>
